@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Kubernauts !</h1>

Welcome to our Demo website. This is a simple website that shows how to use Razor.

<h2>Version 1.1</h2>

<SurveyPrompt Title="How is Blazor working for you?" />
